<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.ldi.android">

    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.FLASHLIGHT"/>

    <application
        android:name=".App_"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Activitys.LaunchActivity_">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".Activitys.UserGuideActivity_"/>
        <activity android:name=".Activitys.LoginActivity_"/>
        <activity android:name=".Activitys.RegisterActivity_"/>
        <activity android:name=".Activitys.RegisterPassActivity_"/>
        <activity android:name=".Activitys.ForgetPassActivity_"/>
        <activity android:name=".Activitys.WebViewClientActivity_"/>
        <activity android:name=".Activitys.UserEnterActivity_"/>
        <activity
            android:name=".Activitys.MainActivity_"
            android:screenOrientation="portrait"/>
        <activity android:name=".Activitys.ChangePasswordActivity_"/>
        <activity android:name=".Activitys.ChangeProfileActivity_"/>
        <activity android:name=".Activitys.VideoListActivity_"/>
        <activity android:name=".Activitys.MyVideoListActivity_"/>
        <activity
            android:name=".Activitys.VideoPayActivity_"
            android:screenOrientation="portrait"/>
        <activity android:name=".Activitys.SearchListActivity_">
        </activity>
        <activity android:name=".Activitys.CertificationActivity_">
        </activity>
    </application>

</manifest>